.css-195y93z-MuiButtonBase-root-MuiPickersDay-root.Mui-selected {
    will-change: background-color;
    background-color: #0fcfe9 !important;
}

.css-195y93z-MuiButtonBase-root-MuiPickersDay-root.Mui-selected {
    color: #fff;
    background-color: #0fcfe9;
    font-weight: 500;
}

.css-bkrceb-MuiButtonBase-root-MuiPickersDay-root.Mui-selected {
    background-color: #0fcfe9 !important;
}